.row{
    margin-top: 50px;
}

.foto{
    height: 380px;
    width: auto;
}

.custom-text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.margin-perso{
    margin-bottom: 0px !important;
}

.ul-sem-estilo {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(#041833, #154580);
    box-sizing: border-box;
    color:white;
}

.textarea-perso{
    width: 640px !important;
    height: 100px !important;
}